Django==4.2.23
python-dotenv==1.0.1
PyMySQL==1.1.1
django-redis==5.4.0
redis==5.0.8
channels==4.0.0
channels-redis==4.1.0
daphne==4.1.2
django-ckeditor-5==0.2.13
django-simple-captcha==0.6.0
whitenoise==6.7.0
beautifulsoup4==4.12.3
requests==2.32.3
Pillow==10.4.0
cryptography==43.0.1
pyotp==2.9.0
qrcode==7.4.2
psutil==6.0.0
jieba==0.42.1
nh3==0.2.18
msal==1.30.0
PySocks==1.7.1
