 html, body {
        height: 100%;
        margin: 0;
        font-family: sans-serif;
        background-color: #f4f7f6;
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100%;
        font-size: 1rem;
        line-height: 1.6;
        background-image: url("../img/白金极简纹理.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    header {
        flex-shrink: 0;
        min-width: 100%;
    }

    main {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5em 1em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        background-color: rgba(255, 255, 255, 0.1);
    }

    nav a {
        margin-right: 1em;
        text-decoration: none;
        color: #333;
        font-weight: 600;
        transition: color 0.3s ease;
    }

    nav a:hover {
        color: #007BFF;
    }

    .user-info {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .username {
        color: #555;
    }

    .logout-button {
        background-color: transparent;
        border: 1px solid #ccc;
        padding: 0.3em 0.7em;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .logout-button:hover {
        background-color: #eee;
    }